@error: #b94a48;

/* layout */
body {
    padding: 60px 0 40px 0;
}
footer { 
    text-align: center; 
    padding: 5px;
}

/* nav */
.navbar { color: #999999; }
.user-info { margin-top: 10px; }

/* validation */
.field-validation-error {
    color: @error;
}